body{
    background-color:#4DA1E8;
}

.title{
    color: white;
    text-align: center;
    font-family:Oswald;
}

.content{
    color: white;
    text-align: center;
    font-family: Quattrocento;
}

.questions{
    color:white;
    font-family: Quattrocento;
}


#questions{
    text-align: center;
    color: white;
    font-family:Oswald;
    
}

.button{
    background-color: blue;
    color:white;
}