
body{
    background-color:#3375ea;
    padding:0px;
    margin:0px;
  
}
.title{
    color: white;
    text-align: center;
    font-family:Acme;
    background-color: brown;
    font-size: 30px;
    width:100%;
    
}

h1{
    margin: 0px;
}

.subheading{
    text-align:center;
}

.content_item{
    color: white;
    margin:0 5% 0 10%;
    font-family: Play; 
    font-size:20px;
    max-width:900px;
    
}


#questions{
    margin-left: 250px;
}

#ul_questions{
    margin-left:80px;
    margin-top:-20px;
}

li{
    text-align: left;
    clear:both;
}

#capital_container{
    width: 100%;
    text-align: center;
}

.questions{
    max-width:500px;
    margin:0 auto;
    text-align:left;
    color:white;

}

#form_order{
    color:white;
    position:absolute;
    bottom:150px;
    right:30px;
    border:solid 6px white;
    padding:10px;
    
}

.button{
    background-color: blue;
    color:white;
    font-size: 20px;
}

#input_offer{
    height:25px;
}

#order{
    font-size: 25px;
}
#rating{ 
    position:absolute;
    left:1150px;
    top:130px;
    width:100px;
    height: 150px;
    margin-top: -50px;
    margin-right: -10px; 
} 

#jo{
    float:left;
    margin-right:100px; 
    margin-bottom:50px;
}

.redText{
    color:#ff6666;
    font-weight:bold;
    
}


.questions{
    margin-left: 250px;
    padding:0px;
}

#cap {
    float:left;
}

#promo{ 
    text-align:center;
    font-family: Cinzel;
    color:white;
}